# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
venv/

# Logs and environment files
*.log
.env

# IDE directories
.vscode/
.idea/

# macOS
.DS_Store

# Node
node_modules/
frontend/dist/

# Database
*.sqlite
*.db

# Backups
*.bak
*.dump

# Docker volumes
pgdata/
